*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.banner{
    background-size: cover;
    background-image: url(/assets/images/indexbanner/topwave.svg);
    height: 50vw;
    padding:25px 5%;
    margin:0;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 25px 5%;
    z-index: 10;
}
.homeheader{
    float: right;
    padding: 15px 0;
}
body{
    perspective: 20px;
    background-color: #FBEEDD;
    overflow-x: hidden;
}
main{
    padding: 25px 5%;
}
/*desktop nav*/
#desktopnav{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
}
#desktopnav ul{
    align-items: center;
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}
#desktopnav li, #desktopnav li a:not(#contactbutton a){
    color: #B01E68;
    display: inline;
    padding: 5px;
}
#desktopnav li p{
    font-family: "Shrikhand", "Times New Roman";
}
/*Mobile nav*/
.mobilenav{
    display: none;
    width: 0px;
}
.mobilenav.active {
    transform: translateX(0); /* slide into view */
    box-shadow: #17002f79 -10px -10px 20px
}
.mobilenav ul li{
    color: #F9F9F9;
}
/*Collapsible menus for jump links*/

/*Containers*/
.twocolumn{
    display: flex;
    gap: 25px;
}
section{
    margin-bottom: 30px;
    margin-top: 30px;
}

/*Responsive youtube embeds*/
.videocontainer{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 25%;
}
iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
/*footer stuff*/
footer{
    justify-content: space-between;
    display: flex;
    padding: 25px 5%;
    background-color: #660076;
    color: #FBEEDD;
    align-items: center;
    text-decoration: none;
}
footer a{
    color: #FBEEDD;
}
footer li{
    padding: 5px;
    color: #FBEEDD;
}
footer ul li a:hover {
    color: #f9f9f9;
    font-weight: bold;
}
/*Party mode - commented out because it's a fun extra. will make if i have time.
#partytime{
    cursor: pointer;
}
#partytime:hover{
    font-weight: bold;
}
#discoBall {
    width: 350px;
    height: auto;
    position: fixed;
    top: -600px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}
*/
#discoBall{
    display: none;
}
/*Text*/
/*font families*/
#desktopnav ul, #desktopnav li p, #contactbutton a{
    font-family: 'shrikhand';
}
h1, h2, h3, h4, h5, button{
    font-family: "quicksand", "Times New Roman";
}
p, a, footer{
    font-family: "Zain", "Verdana";
}
/*font sizes*/
.huge{
    font-size: 5rem;
    margin-bottom: 10px;
}
@media screen and (max-width:480px) {
    .huge{
        font-size: 10vw;
    }
}
h1, .big{
    font-size: 3rem;
}
h2, #logo{
    font-size: 2.5rem;
}
h3{
    font-size: 2rem;
}
h4, .big-ish, #contactbutton{
    font-size: 1.7rem
}
h5{
    font-size: 1.4rem
}
p, .normal, footer{
    font-size: 1.3rem;
}
.small{
    font-size: 1rem;
}
/*colors*/
h2, h3, h4, h5{
    color: #D40C72;
}
h1{
    color: #B01E68;
}
.gradient{
    align-self: center;
    font-family: 'Shrikhand'!important;
    background:linear-gradient(
        to right,
        #660076,
        #D40C72,
        #f87016,
        #D40C72,
        #660076
    );
    background-clip: text;
    color: transparent!important;
    background-size: 200% auto;
}
/*text or list decos*/
.nodecolist{
    list-style: none;
}
.nodecotext, footer li a{
    text-decoration: none;
}

/*Media queries*/
@media (max-width: 660px) {
    body{
        overflow-x: hidden;
    }
    #hamburger{
        display: block!important;
    }
    #desktopnav{
        display: none;
    }
    .hero{
        height: 50vh;
    }
    .mobilenav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    background-color: #f38b04;
    display: flex;
    flex-direction: column;
    padding:60px 10% 10px 20px;
    gap: 50px;
    transform: translateX(100%); /* hidden off-screen */
    transition: transform 0.3s ease-in-out;
}
    .mobilenav li p.mobile-list, .mobilenav li a{
        color: #F9F9F9;
        font-weight: bold;
    }
    p.mobile-list{
        border-bottom: 2px dashed #F9F9F9;
    }
    .mobilenav li a:hover{
        color: #FFD6B1;
    }
    .twocolumn{
        flex-direction: column;
    }
    .videocontainer{
        padding-top: 75%;
    }
    footer{
        flex-direction: column-reverse;
    }
}
/*images*/
#linkedin{
    height: 25px;
    width: auto;
}
/*buttons*/
#hamburger{
    display: none;
    color: #B01E68;
    background: none;
    border: none;
    cursor: pointer;
}
#removenav{
    text-align: right;
    color: #FBEEDD;
    font-weight:900;
    background: none;
    border: none;
    cursor: pointer;
}
#contactbutton{
    text-align: center;
    padding: 10px 20px;
    border-radius: 100px;
    border: none;
    background:#D40C72;
    background-size: 200% auto;
}
#contactbutton a{
    color: #FBEEDD;
}
.collapsible{
    font-weight: bold;
    background-color: #F49D1A;
    color: #FBEEDD;
    cursor: pointer;
    margin-left: 5%;
    padding: 25px;
    min-width: 300px;
    max-width: 600px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.active, .collapsible:hover {
    background-color:#f38b04;
}
.collapsiblecontent {
    margin-left: 5%;
    padding: 0 25px;
    min-width: 300px;
    max-width: 600px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-out;
    background-color: #f38b0475;
}